@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Prompt", sans-serif;
}

html {
  font-size: 17px; /* Increase base size slightly from default 16px */
}

body {
  font-family: "Prompt", sans-serif;
}
